---
- name: ecom tasks
  hosts: ecom
  become: true

  tasks:
    - name: set ecom hostname
      shell: echo "ecom01.{{ domain }}" > /etc/hostname
      args:
        executable: /bin/bash

    - name: set env 
      shell: |
        echo "ZDS_TYPE=ecom" >> /etc/profile
        echo "ecom" > /var/zds/zds_type
      args:
        executable: /bin/bash 

    - name: refresh repos
      package:
        update_cache: true

    - name: install packages
      package: 
        name:
          - git
          - curl
          - vim
          - snmpd
          - nmap
          - ncat
          - tcpdump
          - auditd
          - docker.io
          - chrony
          - xdp-tools
          - lynis
          - lsof
          - tmux
          - gdb
          - net-tools
          - htop
        state: latest

    - name: reinstall packages
      shell: |
        apt-get install --reinstall -y libpam-runtime openssh-server coreutils
        apt-get install --reinstall -y -o Dpkg::Options::="--force-confmiss" $(dpkg -S /etc/pam.d/\* | cut -d ':' -f 1)
      args:
        executable: /bin/bash

    - name: disable firewall
      shell: |
        systemctl stop --now ufw
        systemctl disable ufw
      args:
        executable: /bin/bash

    - name: find php
      shell: echo "*/30 * * * * find / -type f -name \"*.php\" -mmin 30 >> {{ zds_dir }}/modified_php" >> /etc/crontab

